html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav{
  margin-bottom: 5px;
}
.row{
  width:100%;
  height:calc(100% - 90px);
}
#left{
  height: 100%;
}
#right{
  height:100%;
}
#right-top{
  height: 50%;
  width: 100%;
}
pre{
  height:100%;
}
#execute{
  width: 90%;
  margin: 0 5%;
  position: absolute;
  bottom: 51%;
}
#right-bottom{
  height: 50%;
}
.error {
  color:red;
  transition:.5s;
  overflow:hidden;
}
